/*css for sushi*/
/*this html and body will keep the page from 
overflowing on the sides in case some elements are larger or outside the body*/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p,
h1,
h2,
h3 {
    font-family: Lora;
    color: #fff;
}



.navbar {
    background-color: #981B00;
    text-decoration-color: #fff;

}

.nav-item {
    Margin-right: 20px;


}

.trl {
    margin: auto;
    padding: 0;
    position: relative;
    right: 15px;
}

.navbar-brand {
    margin-left: 30px;
    font-family: "charm";
    font-size: 150% !important;
}

.butn {
    Margin-right: 30px;
}

.nav-link {
    text-align: center;
}


.container-fluid,
.pager {

    width: 100%;
}

.welk {
    background-color: #343333;
    color: #fff;

}

#locbac {
    background-color: #343333;
}

.locintr {
    padding-bottom: 50px;
}

.card-body p {
    color: black;
}



.welpic {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5% 2%;
}

.mid {
    text-align: center;
    width: 100%;
    animation: logo 2s ease
}

@keyframes logo {
    from {
        opacity: 0%;
        transform: scale(50%);
    }

    to {
        opacity: 100%;
        transform: scale(100%);
    }
}

#page {
    width: 100%;


}

.left {
    text-align: center;
    margin: auto;
    width: 50%;
    animation: slideleft 4s ease;
}

@keyframes slideleft {
    from {
        transform: translateX(-100px);
        opacity: 0%;
    }
    to {
        transform: translateX(0px);
        opacity: 100%;;
    }
}

#left {
    width: 80%;
    margin: auto;

}

.right {
    text-align: center;
    width: 50%;
    margin: auto;
    animation: slideright 4s ease;
}

@keyframes slideright {
    from {
        transform: translateX(100px);
        opacity: 0%;
    }
    to {
        transform: translateX(0px);
        opacity: 100%;;
    }
}

#right {
    width: 80%;
    margin: auto;
    align-items: center;

}





.txtpic .wel-text .welcome .int-but .mb-3 {
    margin: auto;
}

.wel-text {
    text-align: center;
    padding-top: 40px;
}

.int-but {
    padding: 40px 0px;
}

.introbtn {
    margin-right: 20px;
}

.t1 {
    margin: 0 10;
}

.pic {
    margin: 0;
    text-align: center;
}

#pic1 {
    width: 80%;
    position: static;
    padding: 60px 0 30px 0;

}

.text {
    width: 60%;
    text-align: center;
    padding: 3% 50;

}

.inf {
    background-color: #713737;
    text-align: center;
    padding: 5% 0%;
    color: #fff;
}

.footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

/* location css */
.card {
    text-decoration: black !important;
    text-align: center;
    margin-top: 20px;
}

/*sushi catalog css*/
.sushimain {
    color: white;
}

#cat {
    text-align: center;
    padding: 5% 0%;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sushis {
    width: 25%;
    /* transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 1 ; */
    transition: transform, 0.5s;
    animation-name: arise;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 0.5;
}

.sushimg {
    width: 100%;

}

@keyframes arise {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.sushis:hover {
    transform: scale(102%);

}

.sushtext {
    flex: 1 1 200px;
    /* Flex-grow, flex-shrink, flex-basis */
    margin: 10px;
    text-align: center;

}

@media (max-width: 600px) {
    .sushis {
        max-width: 100%;
        padding: 10px;
        width: 40%;
        /* Add some padding for smaller screens */
    }
}
