/*css for sushi*/
/*this html and body will keep the page from 
overflowing on the sides in case some elements are larger or outside the body*/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  /*  overflow-x: hidden; */
    scroll-behavior: smooth;
}

p,
h1,
h2,
h3 {
    font-family: Lora;
    color: #fff;
}






.navbar {
    background-color: #981B00;
    text-decoration-color: #fff;
}

.nav-item {
    Margin-right: 20px;
}

.trl {
    margin: auto;
    padding: 0;
    position: relative;
    right: 12px;
}

.navbar-brand {
    margin-left: 30px;
    font-family: "charm";
    font-size: 150% !important;
}

#sush {
    animation: nav 1s ease;
}

#ordr {
    animation: nav 1.3s ease;
}

#loc {
    animation: nav 1.6s ease;
}

#bout {
    animation: nav 1.9s ease;
}

#languageSelect{
    animation: nav 2.1s ease;
}



@keyframes nav {
    from {
        opacity: 0;
        transform: scale(130%);
    }

    to {
        opacity: 1;
        transform: scale(100%);
    }
}

.butn {
    Margin-right: 30px;
}

.nav-link {
    text-align: center;
}


.container-fluid,
.pager {

    width: 100%;
}

.welk {
    background-color: #343333;
    color: #fff;

}

#locbac {
    background-color: #343333;
}

.locintr {
    padding-bottom: 50px;
}

.card-body p {
    color: black;
}



.welpic {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5% 2%;
}

.mid {
    text-align: center;
    width: 100%;
    animation: logo 2s ease
}

@keyframes logo {
    from {
        opacity: 0%;
        transform: scale(50%);
    }

    to {
        opacity: 100%;
        transform: scale(100%);
    }
}

#page {
    width: 100%;


}

.left {
    text-align: center;
    margin: auto;
    width: 50%;
    animation: slideleft 4s ease;
}

@keyframes slideleft {
    from {
        transform: translateX(-100px);
        opacity: 0%;
    }

    to {
        transform: translateX(0px);
        opacity: 100%;
        ;
    }
}

#left {
    width: 80%;
    margin: auto;

}

.right {
    text-align: center;
    width: 50%;
    margin: auto;
    animation: slideright 4s ease;
}

@keyframes slideright {
    from {
        transform: translateX(100px);
        opacity: 0%;
    }

    to {
        transform: translateX(0px);
        opacity: 100%;
        ;
    }
}

#right {
    width: 80%;
    margin: auto;
    align-items: center;

}





.txtpic .wel-text .welcome .int-but .mb-3 {
    margin: auto;
}

.wel-text {
    text-align: center;
    padding-top: 40px;
}

#heading {
    animation: wel 1.5s ease;
}

@keyframes wel {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.int-but {
    padding: 40px 0px;

    animation: wel 2s ease;
}

.introbtn {
    margin-right: 20px;
}

.t1 {
    margin: 0 10;
}

.pic {
    margin: 0;
    text-align: center;
}

#pic1 {
    width: 80%;
    position: static;
    padding: 60px 0 30px 0;

}

.text {
    width: 60%;
    text-align: center;
    padding: 3% 50;

}

.inf {
    background-color: #713737;
    text-align: center;
    padding: 5% 0%;
    color: #fff;
}

.footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 300px;
    align-items: center;
}

/* location css */
.card {
    text-decoration: black !important;
    text-align: center;
    margin-top: 20px;
    animation: logo 2s ease;
  
}

.card-body{
    height: 160px;
}
.card-body a {
    position: absolute;
    bottom: 0;
    left: 125px;
    margin-bottom: 10px;
}

/*sushi catalog css*/
.sushimain {
    color: white;
    z-index: 0;
}

#cat {
    text-align: center;
    padding: 5% 0%;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sushis {
    width: 25%;
    margin-bottom: 20px;
    /* transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 1 ;             The transition enlarges the picture*/ 
    transition: transform, 0.5s;
    /*animation when loading screen all at once*/
    animation-name: arise ;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 0.5;

}



.sushimg {
    width: 100%;
    border-radius: 10%;
    border-color: grey;
    border-style: solid;
    border-width: 2px;
}
/* pictures fade in when come in view. 
@media (prefers-reduced-motion: no-preference){
article > img {
    animation-name: arise linear forwards;
animation-timeline: view ();
animation-range: entry 100px;
}
}
*/


@keyframes arise {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.sushis:hover {
    transform: scale(102%);

}

.sushtext {
    flex: 1 1 200px;
    /* Flex-grow, flex-shrink, flex-basis */
    margin: 10px;
    text-align: center;
    visibility: hidden;

}

.sushis:hover .sushtext {
    visibility: unset;
    animation: sute 1s ease;

}

@keyframes sute {
    from {
        opacity: 0%;
        scale: 60%;
        transform: translateY(-40px);
    }

    to {
        opacity: 100%;
        scale: 100%;
        transform: translateY(0px);
    }
}

@media (max-width: 600px) {
    .sushis {
        max-width: 100%;
        padding: 10px;
        width: 50%;
        /* Add some padding for smaller screens */
    }

    .sushis:hover {
        transform: scale(110%);
        background-color: black;
        border-radius: 10%;
    }

    .sushis:hover .sushtext {
        visibility: unset;
        animation: sute 1s ease;

    }

    @keyframes sute {
        from {
            opacity: 0%;
            scale: 80%;

        }

        to {
            opacity: 100%;
            scale: 100%;

        }
    }

}

/* it works as long as overflowx hidden is not used.
.scroll-watcher {
    height: 10px ;
    position: fixed ;
    top: 0 ;
    z-index: 9999 ;
    background-color: lime ;
    width: 100% ;
    scale: 0 1 ;
    transform-origin: left ;
    animation: scroll-watcher linear ;
    animation-timeline: scroll() ;
}

@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}
*/
