/*css for sushi*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    background-color: #981B00;
    text-decoration-color: #fff;

}

.nav-item {
    Margin-right: 30px;

}

.navbar-brand {
    margin-left: 30px;
}

.butn {
    Margin-right: 30px;
}

.nav-link {
    text-align: center;
}



.container-fluid {

    width: 100%;
}

.welk {
    background-color: #343333;
    color: #fff;

}

.pager {
    width: 100%;

}

#page {
    width: 60%;
    position: relative;
    left: 30%;
}

.txtpic {
    margin: auto;
}

.t1 {
    margin: 0 10;
}
.pic {
    margin: 0;
    text-align: center;
}

#pic1 {
    width: 80%;
    position: static;
   padding: 60px 0 30px 0;

}

.text {
    width: 60%;
    text-align: center;
    padding: 3% 50;

}

.inf {
    background-color: #B44F4F;
    text-align: center;
    padding: 5% 0%;
}
